body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  /* ให้รูปภาพครอบคลุมทั้งหน้าเว็บ */
  background-repeat: no-repeat;
  /* ไม่ทำซ้ำรูปภาพ */
  background-position: center;
  /* จัดตำแหน่งรูปภาพให้อยู่กึ่งกลาง */
  display: flex;
  background-color: black;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  /* Stack child elements vertically */
}

.scroll {
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  color: white;
  justify-content: center;
  /* จัดให้เนื้อหาอยู่กึ่งกลางแนวนอน */
}

.text {
  text-align: center;
  font-size: 45px;
 
  margin: auto;
  width: auto;
  margin-left: 2.5%;
  padding: 10px 5px;
  color: white;
}

.video {
  border: 5px solid;
  margin: auto;
  padding: 10px;
  color: white;
}

.download {
  text-align: center;
  font-size: 45px;
  line-height: 1.1;
  padding: 20px 5px;
  color: white;
  ;
  left: 50%;
}

.download button {
  text-align: center;
  font-size: 48px;
  border-color: white;
  background-color: black;
  color: white;
}

.description {
  color: white;
  text-align: left;

  padding-top: 10rem;
  /* เพิ่ม padding ตามต้องการ */
}