body {
  display: flex;
  background-color: black;
}

.text {
  text-align: center;
  font-size: 45px;
  line-height: 25px;
  margin: auto;
  width: auto;
  margin-left: 2.5%;
  padding: 10px 5px;
  color: white;
}

.video {
  border: 5px solid;
  margin: auto;
  padding: 10px;
  color: white;
}
